[submodule "tinyusb"]
	path = tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "littlefs"]
	path = littlefs
	url = https://github.com/littlefs-project/littlefs.git
[submodule "movement/lib/libballistics_improved"]
	path = movement/lib/libballistics_improved
	url = https://github.com/hkaase/libballistics_improved
